language: php
php:
  - 5.4
  - 5.5
before_script:
  # Composer
  - COMPOSER_ROOT_VERSION=dev-master composer --prefer-source --dev install
  - composer self-update
  - composer update --prefer-source
  # Database
  - mysql -e 'CREATE DATABASE bluz;'
  - mysql -uroot bluz < tests/dump.sql
script:
  # PHPUnit tests
  - php vendor/bin/phpunit --configuration tests/phpunit.xml.dist --coverage-text
  - mkdir .reports
  # Code style
  - php vendor/bin/phpcs ./src --standard=PSR1
  - php vendor/bin/phpcs ./src --standard=PSR2
  # Duplicate code
  - php vendor/bin/phpcpd --log-pmd .reports/pmd-cpd.xml src
  # Lines of code
  #- php vendor/bin/phploc --log-csv .reports/phploc.csv src
  # works incorrect with latest PHP versions
  # PHP Depend
  #- php vendor/bin/pdepend --jdepend-xml=.reports/jdepend.xml --jdepend-chart=.reports/dependencies.svg --overview-pyramid=.reports/pyramid.svg  ./src
  # Mess detection
  #- php vendor/bin/phpmd ./src text codesize,unusedcode,naming
notifications:
  email: false
