language: php
php:
  - 7.1
  - 7.2
  - 7.3
  - master
matrix:
  allow_failures:
    - php: master
env:
  global:
    - secure: "QKyI/QO6H6pFE04Iz/4IcSuttMdY3o85mD2BTNV2Y2SeSPxLfuukqPrxjANrTc4GfI1v7/bZM43uMl3aRa76+HRZ83ZsXR8uv1VZUgNHYuoq7jdZb18BitM36h0LbHzTbYetJLiYg7l3mnbAezTXPXHfpNIWvZcuyZzatyF/lng="
before_install:
  # Prefer IPv4 over IPv6
  - sudo sh -c "echo 'precedence ::ffff:0:0/96 100' >> /etc/gai.conf"
install:
  # Composer
  - composer self-update
  - composer install -n --prefer-source
  # Database
  - mysql -e 'CREATE DATABASE bluz;'
before_script:
  # Database
  - mysql -uroot bluz < tests/_data/dump.sql
  # Directories
  - mkdir .reports
  - chmod a+w ./tests/cache
  - chmod a+w ./tests/_output
script:
  # Check code style
  - php vendor/bin/phpcs ./src --standard=PSR1,PSR2 --encoding=utf-8
  # Complexity of code
  - php vendor/bin/phploc ./src
  # Run CodeCeption tests
  - php vendor/bin/codecept run --coverage --coverage-xml
after_success:
  # Upload coverage report
  - php vendor/bin/php-coveralls -v
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover tests/_output/coverage.xml
  # Generate documentation
  - bash .travis.sh
notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b84e6a583d6eea87d0eb
      - https://webhooks.gitter.im/e/c4fa557829c5bd992271
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
