<?xml version="1.0" encoding="utf-8" ?>
<phpdox xmlns="http://phpdox.net/config">
    <project name="Bluz" source="${basedir}/src" workdir="${basedir}/../bluzphp.github.io/xml">
        <collector backend="parser" />
        <generator output="${basedir}/../bluzphp.github.io">
            <enrich base="${basedir}/logs">
                <source type="build" />
                <!--
                    see latest stable release at https://github.com/squizlabs/PHP_CodeSniffer/tags
                    wget https://github.com/squizlabs/PHP_CodeSniffer/releases/download/2.0.0RC3/phpcs.phar
                    php phpcs.phar ./src/ - -log-xml ./logs/phpcs.xml
                -->
                <!--<source type="phpcs">
                    <file name="phpcs.xml" />
                </source>-->
                <!--
                    wget https://phar.phpunit.de/phploc.phar
                    php phploc.phar ./src/ - -log-xml ./logs/phploc.xml
                -->
                <source type="phploc">
                    <file name="phploc.xml" />
                </source>
                <!--
                    wget http://static.phpmd.org/php/2.1.3/phpmd.phar
                    php phpmd.phar ./src/ xml codesize,unusedcode,naming - -reportfile ./logs/phpmd.xml
                -->
                <source type="pmd">
                    <file name="phpmd.xml" />
                </source>
                <!--
                    php vendor/bin/phpunit - -configuration ./phpunit.xml ./tests/

                    phpunit.xml
                    <logging>
                        <log type="coverage-clover" target="logs/clover.xml"/>
                        <log type="coverage-xml" target="logs/coverage"/>
                        <log type="junit" target="logs/junit.xml" logIncompleteSkipped="false"/>
                    </logging>
                -->
                <source type="phpunit">
                    <coverage path="coverage" />
                </source>
                <source type="git">
                    <history enabled="true" limit="15" />
                </source>
            </enrich>
            <build engine="html" enabled="true" output="html">
                <file extension="html" />
            </build>
        </generator>
    </project>
</phpdox>