<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false"
         colors="true"
         verbose="false"
         bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Framework Test Suite">
            <directory>./tests/src/</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Bluz\Tests\TestListener" />
    </listeners>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>
</phpunit>